<p>
    <mat-toolbar color="primary">
       
      <mat-toolbar-row>
        <span>CrediBarrio</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="Home()">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="AddProduct()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>